@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: #1A1A1A;
  font-family: cursive;
  background-image: url('https://js-pokedex-virid.vercel.app/src/pokeball-icon.png');
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  
}

h4{
  font-weight: bold;
  font-size: 18px;
}

h5{
  font-weight: 500;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  overscroll-behavior: contain;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #333333;
  padding: 50px 30px 0px 30px;
  margin: 40px;
  border-radius: 8px;
  animation: slideUp 0.5s ease-out;
  display: flex;
  height: 70vh;
}

button {
  padding: 0.1em 0.25em;
  width: 16em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
}

button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 10.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  gap: 4px;
}

button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

button span:not(hover) {
  transition: all 1s;
}

.mi-elemento {
  position: relative;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 0.5) 50%, rgba(255, 255, 0, 0) 100%);
  border-radius: 50%;
  box-shadow: 0 0 50px 20px rgba(255, 255, 0, 0.8);
}

.mi-elemento::before,
.mi-elemento::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Grosor de los rayos */
  background-color: rgba(255, 255, 0, 0.8); /* Color y opacidad de los rayos */
}

.mi-elemento::before {
  top: 50%;
  transform: translateY(-50%);
}

.mi-elemento::after {
  left: 50%;
  transform: translateX(-50%);
}


@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    background-color: #e8ebf1;
  }

  .modalContent {
    background-color: white;
  }
}