@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background-color: #1A1A1A;
  font-family: cursive;
  background-image: url('https://js-pokedex-virid.vercel.app/src/pokeball-icon.png');
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  
}

h4{
  font-weight: bold;
  font-size: 18px;
}

h5{
  font-weight: 500;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #333333;
  padding: 50px 30px 0px 30px;
  margin: 40px;
  border-radius: 8px;
  animation: slideUp 0.5s ease-out;
  display: flex;
  overflow: scroll;
  height: 70vh;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    background-color: #e8ebf1;
  }

  .modalContent {
    background-color: white;
  }
}